* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font: 1em/1 "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em 5%;
  background: black;
}

body img {
  display: none;
}

.non-metal {
  color: yellow;
}

.noble-gas {
  color: orange;
}

.alkali-metal {
  color: red;
}

.alkaline-earth-metal {
  color: plum;
}

.metalloid {
  color: rgb(15, 141, 11);
}

.halogen {
  color: rgb(155, 155, 84);
}

.transition-metal {
  color: blue;
}

.lanthanide {
  color: rgb(131, 232, 245);
}

.actinide {
  color: rgb(149, 238, 183);
}

h1 {
  margin: 0.5em 0;
  font-size: calc(3vw + 2rem);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 2em;
}

p:last-child {
  font-size: 0.8em;
}

main {
  margin: auto;
  max-width: 45em;
  display: flex;
}

#grid-container {
  flex-grow: 1;
  min-width: 7em;
}

.col-hidden {
  display: none;
}

section {
  height: 7em;
  background: black;
  border: 0.125rem solid;
  border-radius: 0.25rem;
  line-height: 1.25;
  margin-bottom: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  font-size: 0.75em;
  top: 0.3em;
}

@media only screen and (min-width: 1050px) {
  @supports (display: grid) {
    body {
      font-size: 0.65em;
      padding: 2em;
    }

    main {
      max-width: 130.5em;
      display: block;
    }

    #grid-container {
      display: grid;
      grid-template-columns: repeat(18, 7em);
      grid-gap: 0.25em;
    }

    .col-span16 {
      grid-column: span 16;
    }

    .col-span10 {
      grid-column: span 10;
    }

    .col-span3 {
      grid-column: span 3;
    }

    .col-hidden {
      display: block;
      visibility: hidden;
    }

    section {
      margin: 0px;
    }
  }
}

@media only screen and (min-width: 1610px) {
  body {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 1400px) {
  main,
  body h1 {
    display: none;
  }

  body img {
    display: flex;
    width: 80%;
    margin: 10rem;
  }
}
